Repository vandana0100/Community-Support-Tracker, pull requests merged in 2024-11, with the labels that each got.

#3 Develop Form Fields for Donation Tracker.
  donation_tracker.html
Labels: HTML, Stage One, form

#13 Add Layout and Basic Structure for Volunteer Hours Tracker
  Student_2/volunteer_tracker.html
Labels: HTML, layout

#15 Implement Volunteer Hours Tracker Form
  Student_2/volunteer_tracker.html
Labels: HTML, layout, form

#19 Added Jest tests for the Volunteer Hours Tracker form.
  Student_2/volunteerTracker.test.js
  node_modules/.package-lock.json
  package-lock.json
Labels: testing, Jest
